$title: 600 1.2rem 'Inter Mono', monospace;
$text: 400 1rem 'Inter Mono', monospace;
$info: 700 0.8rem 'Inter Mono', monospace;
$red: rgba(233, 44, 44, 0.884);
$gray: rgba(243, 243, 247, 0.767);
$blue: #1e90ff;